*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
body{
    font-family: system-ui,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #020617;
    color: #e5e7eb;
    line-height: 1.6;
}

header{
    padding: 24px 40px;
    background-color: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 24px;
    font-weight: 700;
    color: #f8fafc;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

nav a{
    text-decoration: none;
    color: #cbd5f5;
    font-weight: 500;
    transition: color 0.2s ease;
}
nav a:hover{
    color: #38bdf8;
}

#aboutMe{
    padding:80px 20px;
    max-width: 800px;
    margin: 0 auto;
}

#aboutMe h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

#aboutMe article{
   background-color: #020617;
   padding: 20px;
}

#aboutMe p{
    margin-bottom: 16px;
    font-size: 16px;
    color: #cbd5f5;
}

#projects{
    padding: 80px 20px;
}

#projects h2{
    text-align: center;
    margin-bottom: 48px;
    color: #e5e7eb;
    font-size: 32px;
}

.projects-grid{
    display:flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card{
    width: 300px;
    padding: 20px;
    background-color: #1e293b;
    border: 2px solid #334155;
    border-radius: 12px;

    color:#e5e7eb;
    transition: transform 0.2s ease, box-shado 0.2s ease;
}
.project-card h3{
    margin-bottom: 12px;
}
.project-card p{
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
}
.project-card  .tech{
    margin-bottom: 16px;
    font-size: 13px;
    color: #94a3b8;
}
.project-card a{
    text-decoration: none;
    color: #3b82f6;
    font-weight: bold;
}

.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(56,189,248,0.25);
}

footer{
    padding: 60px 20px;
    background-color: #020617;
    text-align: center;
    border-top:1px solid #1e293b;
}
footer h2{
    font-size: 28px;
    margin-bottom: 20px;
}

footer p{
    margin-bottom: 10px;
    color: #cbd5f5;
    font-size: 15px;
}
footer a{
    text-decoration: none;
    color: #38bdf8;
    font-weight: 500;
}
footer a:hover{
    text-decoration: underline;
}

@media (max-width:760px){
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content: center;
    }
}